html{
    height: 100%;
}

body {
    background-color: #2F3035;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    height: 118px;
    text-align: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

main{
    height: auto;
    text-align: center;
    padding: 80px;
}

footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 10px;
}

h1{
    font-size: 84px;
    color: white;
}

main p{
    color: white;
    font-size: 18px;
}

a {
    color: white;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

div iframe {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90vw;
    height: calc(.439453125 * 90vw);
    max-width: 1024px;
    max-height: 450px;
}

@media (max-width: 1024px) {
    .container {
        width: auto
    }
}
    